@import "btn";
@import "font";
@import "utils";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Above the Beyond Serif";
  font-weight: 400;
  background-color: #e5e5e5;
  font-size: 16px;
  overflow: hidden;
}

.smooth-scroll-wrapper {
  width: auto;
  height: 100vh;
  overflow: auto;
  opacity: 0;
}

.items-area {
  width: 100vw;
  padding-bottom: 62.5%;
  background: url("../../src/assets/img/background\ img.png") no-repeat center;
  background-size: contain;
  position: relative;
  --coverHeight: 0%;
}
.items-area::before {
  content: "";
  position: absolute;
  height: var(--coverHeight);
  width: 100%;
  background-color: #e5e5e5;
}
